body{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    border-radius: 5px;
}

#top{
    background-color: rgb(244, 200, 200);
    height: 120px;
    width: 420px;
    position: fixed;
    z-index: 99;
    top: 0;
    margin: 0 auto;
}

#logo{
    background-color: rgb(255, 254, 227);
    height: 80px;
}

#shiftbtn{
    text-align: center;
    margin-top: 5px;
}

#recommendbtn{
    width: 80px;
    height: 30px;
}

#rankbtn{
    width: 80px;
    height: 30px;
    margin-left: 130px;
}


/* recommend */

#recommend{
    background-color: rgb(180, 221, 251);
    width: 420px;
    height: 1000px;
    margin-top: 130px;
}


#searchbtn{
    background-color: rgb(178, 178, 178);
    width: 400px;
    height: 30px;
    margin-left: 8px;
    color: #313131;
    text-align: center;
}

.list{
    background-color: rgb(213, 250, 158);
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    margin-top: 10px;

}

.title{
    background-color: rgb(251, 173, 237);
    width: 400px;
}

.more{
    margin-left: 280px;
    font-size: 13px;
}

.songs{
    background-color: #63d3f5;
    height: 175px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: scroll;
}

.songsul{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.guanfangli{ 
    margin-left: 20px;
    
}

.guanfangdes{
    background-color: rgb(249, 173, 173);
    width: 100px;
    height: 45px;
    word-wrap: break-word;
}

.guanfangcover{
    margin-bottom: -20px;
}


.guanfangnum{
    background-color: rgba(232, 243, 129, 0.678);
    font-size: 13px;
    width: auto;
    text-align: right;
    display: inline-block;
    
    position: relative;
    top: -5px;

}


.darenli{ 
    margin-left:20px;
}

.darendes{
    background-color: rgb(249, 173, 173);
    width: 100px;
    height: 45px;
    word-wrap: break-word;
}

.darencover{
    margin-bottom: -20px;
}


.darennum{
    background-color: rgba(232, 243, 129, 0.678);
    font-size: 13px;
    width: auto;
    text-align: right;
    display: inline-block;
    
    position: relative;
    top: -5px;

}


/* 专区 */

.zhuanqupic{
    width: 100px;
    height: 120px;
}

.icon{
    width: 200px;
    position: relative;
    top:-50px;
    left: 0;


    display: flex;
    flex-direction: row;
    align-items: center;

}

.zhuanquname{
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
}

.zhuanquicon{
    border-radius: 50%;
}

.zhuanquli{ 
    margin-left: 30px;
}

.zhuanqudes{
    background-color: rgb(249, 173, 173);
    font-size: 13px;
    width: 210px;
    height: 45px;
    word-wrap: break-word;
}

/* rank */

#rank{
    display: none;
    background-color: rgb(181, 180, 251);
    width: 420px;
    height: 1800px;
    margin-top: 130px;
    
    flex-direction: column;
    align-items: center;
}

.rankli{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 120px;
    margin-left: -40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    border-radius: 10px;

    
}

.left{
    margin-left: -50px;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right{
    margin-right: -50px;
    width: 110px;
    height: 110px;
    position: relative;
}

.update{
    background-color: rgba(0, 0, 0, 0.708);
    color: aliceblue;
    position: absolute;
    top:0px;
    left: 40px;
}

.listennum{
    background-color: rgba(0, 0, 0, 0.675);
    color: aliceblue;
    position: absolute;
    top:90px;
    left: 30px;
}

.rankname{
    font-size: 20px;
    font-weight: 600;
}

.artist{
    font-size: 14px;
    color: #676767;
}

/* search */

#hotsearch{
    display: none;
    background-color: rgb(134, 132, 255);
    width: 420px;
    height: 700px;
    margin-top: 130px;
}

#search{
    width: 330px;
    margin-left: 10px;
}

#cancel{
    margin-left: 10px;
}

#hotbox{
    background-color: rgb(237, 169, 169);
    margin-left: 10px;
    margin-top: 10px;
}

#hottags{
    background-color: rgb(93, 198, 255);
    width: 385px;
    height: 350px;
    padding: 10px;
}

.hotli{
    display: inline-block;
    background-color: rgba(236, 165, 165, 0.448);
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
}
/* history */

#historybox{
    background-color: rgb(237, 169, 169);
    margin-left: 10px;
    margin-top: 10px;
}

#historytags{
    background-color: rgb(93, 198, 255);
    width: 385px;
    
    padding: 10px;
}

.hitoryli{
    display: inline-block;
    background-color: rgba(236, 165, 165, 0.448);
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
}


/* searchout */

.outli{
    background-color: rgb(160, 193, 231);
    margin-top: 10px;
    width: 400px;
    margin-left: -35px;
}

.outartist{
    font-size: 13px;
    color: #676767;
}